.console_history

cache/
libraries/
logs/
versions/
banned-ips.json
banned-players.json
map-color-cache.dat
permissions.yml
usercache.json
whitelist.json

# Plugins
plugins/.paper-remapped/

plugins/AxGraves/libs/
plugins/AxGraves/data.json

plugins/Chunky/tasks/

plugins/CoreProtect/database.db
plugins/CoreProtect/.license

plugins/Essentials/*
!plugins/Essentials/messages/
!plugins/Essentials/*.yml
!plugins/Essentials/*.json

plugins/ImageFrame/*
!plugins/ImageFrame/config.json

plugins/LuckPerms/libs/
plugins/LuckPerms/translations/
plugins/LuckPerms/yaml-storage/*.txt
plugins/LuckPerms/editor-keystore.json

plugins/spark/*
!plugins/spark/config.json

plugins/WorldEdit/*/

# World
world/*
!world/datapacks/
world/datapacks/bukkit
!world/data/
world/data/
!world/data/command_storage_vanilla_refresh_config.dat
!world/paper-world.yml

# World the End
world_the_end/
!world_the_end/paper-world.yml

# World Nether
world_nether/*
!world_nether/paper-world.yml
