.console_history

cache/
libraries/
logs/
versions/
banned-ips.json
banned-players.json
ops.json
permissions.yml
usercache.json
whitelist.json

# Plugins
plugins/.paper-remapped/

plugins/AxGraves/libs/
plugins/AxGraves/data.json

plugins/Chunky/tasks/

plugins/CoreProtect/database.db
plugins/CoreProtect/.license

plugins/Essentials/usermap.bin
plugins/Essentials/uuids.bin

plugins/ImageFrame/data/
plugins/ImageFrame/upload/

plugins/LuckPerms/libs/
plugins/LuckPerms/yaml-storage/actions.txt
plugins/LuckPerms/yaml-storage/uuidcache.txt

plugins/spark/tmp-client/

plugins/WorldEdit/*/

# World
world/data/
world/datapacks/bukkit/
world/entities/
world/playerdata/
world/poi/
world/region/
world/level.dat
world/session.lock
world/uid.dat

# World the End
world_the_end/DIM1/
world_the_end/level.dat
world_the_end/session.lock
world_the_end/uid.dat

# World Nether
world_nether/DIM-1/
world_nether/level.dat
world_nether/session.lock
world_nether/uid.dat